.classes.button {
    position: absolute !important;
    top: 100px !important;
    right: 1px !important;
    width: 150px !important;
    height: 200px !important;

    -webkit-transition: all 2s ease-in-out !important;
    transition: all 2s ease-in-out !important;
    z-index: 1 !important;
    display:inline !important; 	
  }